version: '3.4'

services:
  mssql:
    image: mcr.microsoft.com/mssql/server
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=BaileyWasHere1234!

  authapi:
    image: authapi
    container_name: "authapi_service"
    ports:
      - "9090:80"
    build:
      context: .
      dockerfile: LoginAPI/Dockerfile
    environment:
      - CleanDatabase="'True'"
    depends_on:
      - mssql
    
